<table>
  <thead>
    <tr>
      <th *ngFor="let col of config.cols">{{col.header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let col of config.cols">
        {{ item[col.field] | dataFormatPipe:col.format }}
      </td>
    </tr>
  </tbody>
</table>
