<tool-header [headerText]="headerText"></tool-header>
<unordered-list [items]="colors"></unordered-list>
<ul>
  <ng-template ngFor [ngForOf]="colors" let-color>
      <li [ngClass]="color">{{color}}</li>
  </ng-template>
</ul>
<ul>
  <ng-container *ngFor="let color of colors">
    <li [ngClass]="{ critical: color==='red', info: color==='blue' }">{{color}}</li>
  </ng-container>
</ul>
<color-form buttonText="Add Color" (submitColor)="addColor($event)"></color-form>


