<form [formGroup]="ellipsisDemoForm">

  <textarea formControlName="text"></textarea>

  <input type="text" formControlName="ellipsisLength">

  <br>

  <p>{{ellipsisDemoForm.value.text | ellipsis:ellipsisDemoForm.value.ellipsisLength}}</p>

</form>
