<header>
  <h1>The App</h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/company">Company Home</a></li>
    <li><a routerLink="/company/about">Company About</a></li>
    <li><a routerLink="/company/contact">Company Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <small>&copy; 2018, A Cool Company, Inc.</small>
</footer>

