<button type="button" (click)="refreshFlights()">Refresh Flights</button>
<filtered-table [filterFn]="flightFilter">
  <section data-filter-form>
      <flight-filter-form></flight-filter-form>
  </section>
  <section data-filter-table>
    <paginated-table>
      <data-table [config]="flightTableConfig" [data]="flights"></data-table>
    </paginated-table>
  </section>
</filtered-table>
