<form [formGroup]="colorForm">

  {{colorForm.controls.colorInput.errors | json}}

  <div>
    <label for="color-input">New Color:</label>
    <input type="text" id="color-input" formControlName="colorInput" />
    <span *ngIf="colorForm.controls.colorInput.errors">Color is a required field.</span>
  </div>
  <button type="button" (click)="doSubmitColor()">{{buttonText}}</button>
</form>
