<tool-header header="Car Tool"></tool-header>
<car-table [cars]="cars" [editCarId]="editCarId"
  (editCar)="doEdit($event)" (deleteCar)="doDelete($event)"
  (saveCar)="doSave($event)" (cancelCar)="doCancel()"></car-table>
<car-form buttonText="Add Car" (submitCar)="doAdd($event)"></car-form>
